html, body, h1, h2, h3, h4, h5, h6, p, div {
  padding: 0;
  border: 0;
  margin: 0;
}

html {
	font-size: 62.5%;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

body {
  color: rgb(40, 40, 40);
  display: block;
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-size: calc(1rem + 0.3vw);
	line-height: calc(1.5em + 0.3vw);
}

div {
	display: block;
}

p {
  max-width: 70vw;
}

h1 {
  font-size: calc(1.7rem + 1vw);
  font-weight: normal;
}

h2 {
  font-size: calc(1.4rem + 1vw);
  font-weight: normal;
	line-height: 2em;
  padding: 0.7em 0;
}

h3 {
  font-size: calc(1rem + 1vw);
  font-weight: normal;
	line-height: calc(1em + 1vw);
}

h4 {
  font-size: calc(0.8rem + 0.3vw);
  font-weight: normal;
	line-height: calc(1.2em + 0.3vw);
}

img {
	display: inline-block;
}

button {
	background: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: calc(1rem + 0.3vw);
	outline: none;
	overflow: hidden;
}

.blue {
	color: rgb(174, 198, 207);
}

.gray {
  color: rgb(120, 120, 120);
}

.uppercase {
  text-transform: uppercase;
}

.roundbox {
  border-radius: 2.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(51, 51, 51, 0.7);
  height: 2.3em;
  width: 2.3em;
}

/** Header **/
#header {
	background: rgb(51, 51, 51);
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	min-height: 100vh;
	width: 100%;
	text-align: center;
}

.head-content {
  color: rgb(255, 255, 255);
  margin-top: 30vh;
  transition: opacity .15s ease-in-out;
}

.flexbound {
	height: 6.5vh;
}

.head-content h1 {
  letter-spacing: -0.1rem;
}

/** Header buttons **/
.def-btn {
	background: transparent;
	border: 2px solid rgb(174, 198, 207);
	border-radius: 30px;
	font-size: calc(0.9rem + 0.3vw);
	height: auto;
	letter-spacing: 0rem;
	margin-top: 3em;
	padding: 0.9em 1.8em;
	transition: all .3s ease-in-out;
}

.def-btn:hover {
	background: rgb(174, 198, 207);
	padding: 0.9em 2.8em;
}

/** What I do/ did buttons **/
.carets {
	display: flex;
	justify-content: space-around;
	margin-bottom: 6rem;
	margin-top: auto;
}

.caret-btn {
	transition: color .3s ease-in-out;
}

.caret-btn:hover {
	color: rgb(255, 255, 255);
}

@media screen and (min-width: 720px) {
  .carets {
    margin-bottom: 1rem;
  }
}
/** end **/

#toContact {
  color: rgb(255, 255, 255);
}

#toContact:hover {
	color: rgb(51, 51, 51);
}

#toHeader {
	bottom: 50px;
	color: rgb(174, 198, 207);
	position: fixed;
	opacity: 0;
	right: 15px;
	transition: all .3s ease-in-out;
	z-index: 10;
}

#toHeader:hover {
	color: rgb(255, 255, 255);
}

/** About me **/
.columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	padding: 0;
}

.column-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
  position: relative;
  width: 300px;
}

.column-item h3 {
	font-weight: bold;
  margin-top: 1em;
}

.column-item i {
  color: rgb(174, 198, 207);
  font-size: calc(1em + 0.5vw);
}

#about {
	background: rgb(255, 255, 255);
	margin: 0 auto;
	min-height: 100vh;
	overflow: hidden;
	text-align: center;
}

/** My projects **/
#projects {
	background: rgb(174, 198, 207);
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.projectItems {
  display: flex;
  flex-wrap: wrap;
	justify-content: space-around;
}

.project {
  background: rgb(235, 235, 235);
  margin: 15px;
  max-width: 70vw;
}

.projectTxt {
  margin-bottom: 1em;
  margin-top: 1em;
}

.project img {
  max-width: 70vw;
}

/** Footer and contact **/
#contact {
	background: rgb(51, 51, 51);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.collaborate {
	color: rgb(255, 255, 255);
	margin: 0 auto;
	text-align: center;
}

.collaborate img {
	border-radius: 50%;
	display: inline;
	height: 120px;
	margin-bottom: 20px;
	vertical-align: top;
	width: 120px;
}

.collaborate p {
	margin: 0 20px;
	text-align: left;
}

footer {
	margin-top: auto;
	padding-bottom: 1.3rem;
	text-align: center;
}

footer a {
	display: inline-block;
	height: 30px;
	margin: 2rem 0.5rem 0.5rem;
	width: 30px;
}
