html, body {
	height: 100%;
}
body {
	background-image: url("goodday.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: rgb(255, 255, 255);
	font-family: 'Raleway', sans-serif;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5;);
	text-align: center;
}
h1 {
	font-weight: bold;
}
h2 {
	font-size: 23px;
}
h3 {
	margin-top: 10px;
}

/** Header and navbar **/
}
.header {
	background-color: rgb(51, 51, 51);
	padding: 10px;
}
.nav > li {
	display: inline-block;
}
.nav > li + li {
	margin-left: 20px;
}
.nav > li > a {
	color: rgb(128, 128, 128); /** Old IE **/
	color: rgba(255, 255, 255, .5);
	font-size: 16px;
	font-weight: bold;
	padding-left: 0;
	padding-right: 0;
	text-decoration: none;
	transition: color .2s ease;
}
.nav > li > a:hover,
.nav > li > a:focus,
.nav > .active > a {
	background-color: transparent;
	color: rgb(255, 255, 255);
}

/** Main centering **/
.outer {
	display: table;
	height: 100%;
	width: 100%;
}
.middle {
	display: table-cell;
	vertical-align: middle;
}
.inner {
	margin-left: auto;
	margin-right: auto;
}

/** Footer **/
#sitemap-icon {
	font-size: 23px;
}
.footer {
	background-color: rgb(51, 51, 51);
	padding: 10px;
}
.footer p {
	color: rgb(128, 128, 128); /** Old IE **/
	color: rgba(255, 255, 255, .5);
}

/** Setup **/
@media (min-width: 768px) {
	.brand {
		float: left;
	}
	.nav {
		float: right;
	}
	.header {
		position: fixed;
		top: 0;
	}
	.footer {
		position: fixed;
		bottom: 0;
	}
	.main, .header, .footer {
    width: 100%;
}